{% load static %}
{% load staticfiles %}


<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/gif" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="{% static 'mystyle.css' %}">

    {% block title %}
    {% endblock title %}


    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #563d7c;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav navbar-nav mx-auto">
                <a class="nav-item nav-link" href="{% url 'index' %}" style="color:white;">Página Inicial</a>
            </div>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <a class="nav-item nav-link" href="https://github.com/carolstoffel"><img
                    src="{%  static 'images/icon_github.png' %}" width="20" height="20" alt="git"></a>
            <a class="nav-item nav-link" href="https://www.linkedin.com/in/carolinestoffelgiacomini/"><img
                    src="{%  static 'images/icon_linkedin.png' %}" width="20" height="20" alt="in"></a>
            <a class="nav-item nav-link" href="https://www.instagram.com/carolinestoffel/"><img
                    src="{%  static 'images/icon_instagram.png' %}" width="20" height="20" alt="insta"></a>
            <a class="nav-item nav-link" href="https://www.facebook.com/carolinestoffelgiacomini"><img
                    src="{%  static 'images/icon_facebook.png' %}" width="20" height="20" alt="fb"></a>
        </ul>
    </nav>
    <div class="wrapper">
        <div class="sidebar">
            <h2>PROJETOS</h2>
            <ul>
                <li><a href="{% url 'manip_strings' %}"><i class="fas fa-home"></i>STRINGS</a></li>
                <li><a href="{% url 'chatbot' %}"><i class="fas fa-home"></i>CHATBOT</a></li>
                <li><a href="{% url 'image_converter' %}"><i class="fas fa-home"></i>CONVERSOR DE IMAGENS</a></li>
            </ul>
        </div>
    </div>
</head>

<body class="bg-light">
    {% block content %}
    {% endblock content %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>